<script>
    id: any;
    ngOnInit() {
        // henter id fra parameter i url
        this.route.paramMap.subscribe(param => {
            this.id = param.get('id');
        })
    }
</script>

<h1>Comments</h1>
<!--Hente parameter fra url her?-->

<a [routerLink]="['/addComment', id]">Add comment</a>

<!--Vise observationsen til kommentarene-->

<!--kommentarene-->
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Comment</th>
            <th>Observation id</th>
        </tr>
    </thead>
    <tbody *ngFor="let comment of allcomments ">
        <tr>
            <td>{{ comment.id }}</td>
            <td>{{ comment.text }}</td>
            <td>{{ comment.observationId }}</td>
            <td><button class="btn btn-danger" (click)="deleteComment(comment.id)">Delete</button></td>
        </tr>
    </tbody>
</table>