<h1>Comments</h1>
<a [routerLink]="['/addComment', observationId]">Add comment</a>

<!--Vise observationsen til kommentarene-->
<!--kommentarene-->
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th> <!--ikke nødvendig for sisteutkast-->
            <th>Comment</th>
            <th>Observation id</th> <!--ikke nødvendig for sisteutkast-->
        </tr>
    </thead>
    <tbody *ngFor="let comment of allcomments ">
        <tr>
            <td>{{ comment.id }}</td> <!--ikke nødvendig for sisteutkast-->
            <td>{{ comment.text }}</td>
            <td>{{ comment.observationId }}</td> <!--ikke nødvendig for sisteutkast-->
            <td><button (click)="upVote(comment.id)">{{ comment.upVote }}<mat-icon>thumb_up</mat-icon></button></td>
            <td><button (click)="downVote(comment.id)">{{ comment.downVote }}<mat-icon>thumb_down</mat-icon></button></td>
            <td><button class="btn btn-danger" (click)="deleteComment(comment.id)">Delete</button></td>
        </tr>
    </tbody>
</table>
