<h1>Register New UFO Observation</h1>

<form #form="ngForm" (ngSubmit)="addObservation()">

    <!--https://material.angular.io/components/datepicker/overview-->
    <mat-form-field appearance="fill">
        <mat-label for="date">Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" type="text" class="form-control" id="date" name="date" [(ngModel)]="newObservation.date">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="form-group">
        <label for="time">Time</label>
        <input type="text" class="form-control" id="time" name="time" [(ngModel)]="newObservation.time">
    </div>
    <div class="form-group">
        <label for="location">Location</label>
        <input type="text" class="form-control" id="location" name="location" [(ngModel)]="newObservation.location">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" name="description" [(ngModel)]="newObservation.description">
    </div>

    <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control" id="type" (change)="selectedOption($event.target.value)">
            <option disabled>Select Type</option>
            <option *ngFor="let type of types">{{ type.type }}</option>
            <option>Add new type</option>
        </select>
    </div>
    <div class="form-group" [innerHtml]="addNewType | safeHtml"></div>


    <button type="submit" class="btn btn-primary">Save</button>
</form>
