<h1>Edit UFO Observation</h1>

<!--Man må legge til type selv-->
<form #form="ngForm">
    <!--ikke nødvendig for sisteutkast-->
    <div class="form-group">
        <label for="id">Id</label>
        <input type="text" class="form-control" id="id" name="id" [(ngModel)]="editObservation.id" readonly>
    </div>

    <!--<mat-form-field appearance="fill">
        <mat-label for="date">Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" type="text" class="form-control" id="date" name="date" [(ngModel)]="editObservation.date">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>-->

    <div class="form-group">
        <label for="date">Date</label>
        <input type="date" class="form-control" id="date" name="date" [(ngModel)]="editObservation.date" max="{{date}}">
    </div>
    <div class="form-group">
        <label for="time">Time</label>
        <input type="time" class="form-control" id="time" name="time" [(ngModel)]="editObservation.time">
    </div>
    <div class="form-group">
        <label for="location">Location</label>
        <input type="text" class="form-control" id="location" name="location" [(ngModel)]="editObservation.location">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" name="description" [(ngModel)]="editObservation.description">
    </div>

    <select class="form-control" (change)="selectedOption($event.target.value)">
        <!--øverste option skal være den som var fra før-->
        <option disabled selected>Select Type</option> <!--trenger ikke select type-->
        <option *ngFor="let type of types">{{ type.type }}</option>
        <option>Add new type</option>
    </select>

    <div *ngIf="addNewType" [innerHtml]="addNewType | safeHtml"> </div>

    <button type="submit" class="btn btn-primary" (click)="updateObservation()">Save</button>

    <button class="btn btn-danger" (click)="deleteObservation(editObservation.id)">Delete</button>
</form>