<h1>UFO Observations</h1>

<a [routerLink]="['/addObservation']">Register a new UFO observation</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Date</th>
            <th>Time</th>
            <th>Location</th>
            <th>Description</th>
            <th> </th>
        </tr>
    </thead>
    <tbody *ngFor="let observation of allObservations ">
        <tr>
            <td>{{ observation.id }}</td>
            <td>{{ observation.navn }}</td>
            <td>{{ observation.dato }}</td>
            <td>{{ observation.tid }}</td>
            <td>{{ observation.lokasjon }}</td>
            <td>{{ observation.beskrivelse }}</td>
            <td><a [routerLink]="['/editObservation', observation.id]">view</a></td>
        </tr>
    </tbody>
</table>