<h1>UFO Observations</h1>

<a [routerLink]="['/addObservation']">Register new UFO observation</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th> <!--ikke nødvendig for sisteutkast-->
            <th>Type</th>
            <th>Date</th>
            <th>Time</th>
            <th>Description</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th> </th>
            <th> </th>
        </tr>
    </thead>
    <tbody *ngFor="let observation of allObservations ">
        <tr>
            <td>{{ observation.id }}</td> <!--ikke nødvendig for sisteutkast-->
            <td>{{ observation.ufoType }}</td>
            <td>{{ observation.date }}</td>
            <td>{{ observation.time }}</td>
            <td>{{ observation.description }}</td>
            <td>{{ observation.latitude }}</td>
            <td>{{ observation.longitude }}</td>
            <td><a [routerLink]="['/editObservation', observation.id]">view</a></td>
            <td><a [routerLink]="['../comment', observation.id]">comment</a></td>
        </tr>
    </tbody>
</table>