<h1>UFO Observations</h1>

<button class="btn btn-secondary" [routerLink]="['/addObservation']" style="margin-bottom: 1rem;"> <mat-icon>add_location</mat-icon> Add new observation</button>

<table class="table table-bordered table-striped test">
    <thead style="background-color: #009688;">
        <tr>
            <th>Id</th> <!--ikke nødvendig for sisteutkast-->
            <th>Type</th>
            <th>Date</th>
            <th>Time</th>
            <th>Description</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th> </th>
            <th> </th>
        </tr>
    </thead>
    <tbody *ngFor="let observation of allObservations ">
        <tr>
            <td>{{ observation.id }}</td> <!--ikke nødvendig for sisteutkast-->
            <td>{{ observation.ufoType }}</td>
            <td>{{ observation.date }}</td>
            <td>{{ observation.time }}</td>
            <td>{{ observation.description }}</td>
            <td>{{ observation.latitude }}</td>
            <td>{{ observation.longitude }}</td>
            <td><button class="btn btn-secondary" [routerLink]="['/editObservation', observation.id]">View</button></td>
            <td><button class="btn btn-secondary"  [routerLink]="['../comment', observation.id]">Comments</button></td>
        </tr>
    </tbody>
</table>