
<h1>UFO Observations</h1>

<button class="btn btn-secondary" [routerLink]="['/addObservation']" style="margin-bottom: 1rem;"> <mat-icon>add_location</mat-icon> Add new observation</button>

<div class="feed">
    <div class="feedbox" *ngFor="let observation of allObservations">
        <div class="feedboxField">
            <p><mat-icon class="icon-display-medium">account_circle</mat-icon>User</p>
        </div>
        <div class="feedboxField">
            <p>Seen {{ observation.date }} at {{ observation.time }}</p>
        </div>
        <!-- Hva med å faktisk ha en overskrift, kan gjøre det mer spennende å se på -->
        <div class="feedboxField">
            <h2>Headline</h2>
        </div>
        <div class="feedboxField">
            <p>{{ observation.ufoType }}</p>
        </div>
        <div class="feedboxField">
            <p>{{ observation.description }}</p>
        </div>
        <div class="feedboxField">
            <h3>Seen at</h3>
            <p>Latitude:&nbsp;{{ observation.latitude }}, Longitude:&nbsp;{{ observation.longitude }}</p>
        </div>
        <button class="btn btn-secondary" [routerLink]="['/editObservation', observation.id]">View</button>
        <button class="btn btn-secondary" [routerLink]="['../comment', observation.id]">Comments</button>

        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" target="_blank" class="btn btn-secondary"
           data-show-count="false">Share on twitter</a>

    </div>
</div>