<notloggedinmodal *ngIf="generalService.showNotLoggedInDialog"></notloggedinmodal>
<div class="right-header">
    <div class="background-box-text">
    <h1>UFO Observations</h1>
    </div>
</div>
<div class="background-box-button">
    <button class="btn-secondary" (click)="checkLogIn()" style="margin-bottom: 1rem;"> <mat-icon>add_location</mat-icon> Add new observation</button>
</div>

<div class="feed">
    <div class="feedbox" *ngFor="let observation of allObservations">
        <div class="feedboxField">
            <p><mat-icon class="icon-display-medium">account_circle</mat-icon>User</p>
        </div>
        <div class="feedboxField">
            <p>Seen {{ observation.date }} at {{ observation.time }}</p>
        </div>
        <div class="feedboxField">
            <h2>{{ observation.headline }}</h2>
        </div>
        <div class="feedboxField">
            <p>{{ observation.ufoType }}</p>
        </div>
        <div class="feedboxField">
            <p>{{ observation.description }}</p>
        </div>
        <div class="feedboxField">
            <h3>Seen at</h3>
            <p>Latitude:&nbsp;{{ observation.latitude }}, Longitude:&nbsp;{{ observation.longitude }}</p>
        </div>
        <button class="btn btn-secondary" (click)="RouteEditObservation(observation.id)">View</button>
        <button class="btn btn-secondary" [routerLink]="['../comment', observation.id]">Comments</button>
        <button mat-icon-button class="share-button">
            <a class="button share-button" href="https://twitter.com/share?ref_src=twsrc%5Etfw" target="_blank" cdata-show-count="false">Twitter</a>
        </button>
        <button mat-icon-button class="share-button">
            <a class="button share-button" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FList_of_reported_UFO_sightings&amp;src=sdkpreparse">
                Facebook
            </a>
        </button>
    </div>
</div>