<h1>Log In</h1>

<form [formGroup]="Form" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>User name</label>
        <input type="text" formControlName="username">
        <p *ngIf="this.Form.controls.username.status=='INVALID'">Invalid user name</p>
    </div>
    <div class="form-group">
        <label>Password:</label>
        <input type="password" formControlName="password">
        <p *ngIf="this.Form.controls.password.status=='INVALID'">Invalid password</p>
    </div>
    <button type="submit" [disabled]="!Form.valid">Login</button>
    <!--<button type="submit" [disabled]="!Form.valid">Register</button>-->
</form>