<div class="container_nav">
    <a class="navbar-brand" [routerLink]="['/']">Identified UFO</a>
    <div>
                <ul class="navbar-nav flex-grow">
                    <li class="nav-item btn-primary"
                        [routerLinkActive]="['link-active']"
                        [routerLinkActiveOptions]="{ exact: true }">
                        <a class="nav-link" [routerLink]="['/']"><mat-icon>home</mat-icon>Home</a>
                    </li>
                    <li class="nav-item btn-primary" [routerLinkActive]="['link-active']">
                        <a class="nav-link" [routerLink]="['/observation']"><mat-icon>map</mat-icon>UFO Observations</a>
                    </li>
                </ul>
    </div>
</div>


<!--
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-header">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['/']">Identified UFO</a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target=".navbar-collapse"
                    aria-label="Toggle navigation"
                    [attr.aria-expanded]="isExpanded"
                    (click)="toggle()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
                [ngClass]="{ show: isExpanded }">
                <ul class="navbar-nav flex-grow">
                    <li class="nav-item btn-primary mr-3"
                        [routerLinkActive]="['link-active']"
                        [routerLinkActiveOptions]="{ exact: true }">
                        <a class="nav-link text-white" [routerLink]="['/']"><mat-icon>home</mat-icon>Home</a>
                    </li>
                    <li class="nav-item btn-primary col" [routerLinkActive]="['link-active']">
                        <a class="nav-link text-white" [routerLink]="['/observation']"><mat-icon>map</mat-icon>UFO Observations</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

--->