<div id="container">
    <div id="header"><img id="logo-welcome" src="marker.png">UFO Observations <img id="logo-welcome" src="marker.png"></div>
    <div id="content">
        <p class="partext"> An unidentified flying object (<a href="https://en.wikipedia.org/wiki/Unidentified_flying_object" target="_blank">UFO</a>) more recently renamed 
            by US officials as a UAP (unidentified aerial phenomenon), is any perceived aerial phenomenon that cannot be immediately identified or explained. On investigation, 
            most UFOs are identified as known objects or atmospheric phenomena, while a small number remain unexplained.</p>
        <p class="partext"> The purpose of this site is not only to create a database, but also to gather people interested in the development of such a science as <a href="https://en.wikipedia.org/wiki/Ufology" target="_blank"> ufology </a> .</p>

        <p class="infotext">
            The UFO Sightings Map contains information about the geographic coordinates of the detected UFO objects.
        </p>
    </div>
    <div id="actions">
        <button class="confirm btn-confirm" (click)="generalService.showWelcomeDialog = false">Close</button>
    </div>
</div>