<div class="container_nav">
    <div class="user-box">
        <mat-icon class="icon-display-large">account_circle</mat-icon>
        <li class="btn-user-box" (click)="generalService.showLoginDialog = true">
            <div class="login-box" *ngIf="generalService.showLoginButton">
                <a class="nav-login"><mat-icon>login</mat-icon>Login</a>
            </div>
            
        </li>

    </div>
    <div>
        <ul class="navbar-nav flex-grow">
            <li class="nav-item btn-primary"
                [routerLinkActive]="['link-active']"
                [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" [routerLink]="['/']"><mat-icon>home</mat-icon>Home</a>
            </li>
            <li class="nav-item btn-primary" [routerLinkActive]="['link-active']">
                <a class="nav-link" [routerLink]="['/observation']"><mat-icon>map</mat-icon>Observations</a>
            </li>

            <li class="nav-item btn-primary" [routerLinkActive]="['link-active']">
                <a class="nav-link" [routerLink]="['/addObservation']"><mat-icon>add_location</mat-icon>Add</a>
            </li>

            <li class="nav-item btn-primary" [routerLinkActive]="['link-active']">
                <a class="nav-link" [routerLink]="['/contact']"><mat-icon>account_circle</mat-icon>Contact us</a>
            <li class="nav-item btn-primary" [routerLinkActive]="['link-active']" *ngIf="generalService.showLoginButton">
                <a class="nav-link" (click)="generalService.showLoginDialog = true"><mat-icon>login</mat-icon>Log in</a>
            </li>
            <li class="nav-item btn-primary" *ngIf="generalService.showLogoutButton">
                <a class="nav-link" (click)="logOut()" ><mat-icon>logout</mat-icon>Log out</a>
            </li>
        </ul>
    </div>
</div>