<div class="container_nav">
    <div class="header-box">
        <div class="first-row">
            <div>
                <mat-icon class="icon-display-large">account_circle</mat-icon>
            </div>
            <div *ngIf="generalService.isAdminLogedIn">
                <span class="header-text">Administrator</span>
            </div>
        </div>
        <div class="second-row">
            <div class="btn-user-box">
                <div class="login-box" *ngIf="generalService.showLoginButton" (click)="generalService.showLoginDialog=true">
                    <button class="nav-but"><mat-icon>login</mat-icon>Login</button>
                </div>
                <div class="login-box" *ngIf="generalService.showLogoutButton">
                    <button class="nav-but" (click)="logOut()"><mat-icon>login</mat-icon>Logout</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <ul class="navbar-nav flex-grow">
            <li class="nav-item btn-primary"
                [routerLinkActive]="['link-active']"
                [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" [routerLink]="['/']"><mat-icon>home</mat-icon>Home</a>
            </li>
            <li class="nav-item btn-primary" [routerLinkActive]="['link-active']">
                <a class="nav-link" [routerLink]="['/observation']"><mat-icon>map</mat-icon>Observations</a>
            </li>

            <li class="nav-item btn-primary">
                <a class="nav-link" (click)="checkLogIn()"><mat-icon>add_location</mat-icon>Add</a>
            </li>
            <li class="nav-item btn-primary" [routerLinkActive]="['link-active']">
                <a class="nav-link" [routerLink]="['/externalwebsite']"><mat-icon></mat-icon>External sources</a>
            </li>
            

            <li class="nav-item btn-primary" [routerLinkActive]="['link-active']">
                <a class="nav-link" [routerLink]="['/contact']"><mat-icon>email</mat-icon>Contact us</a>
            </li>
        </ul>
    </div>
</div>