a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container_nav {
  margin-top: 5%;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbar-container {
  background-color: #00695F;
  width: 200px;
  border-radius: 10px;
  height: 700px;
}

.nav-link {
  color: white;
  font-size: 20px;
  text-align: center;
}

.nav-login {
  color: white;
  font-size: 18px;
  text-align: center;
}

.navbar-brand {
  color: white;
  font-size: 20px;
  text-align: center;
  justify-content: center;
}

.user-box {
  width: 200px;
  height: 150px;
  background-color: #009688;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header-box {
  width: 200px;
  height: 150px;
  background-color: #009688;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-but {
    color: #E3E3E3;
    background-color: #00bfad;
    border-radius: 10px;
    font-family: 'Roboto', bold;
    margin-top: 50px;
    width: 100px;
    height: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-bottom: 20px;
    outline: none; 
    border: none;
}

.nav-but:hover {
  background-color: #009688;
}

.first-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.header-text {
  color: white;
  font-size: 20px;
  text-align: center;
  justify-content: center;
}

.icon-display-large {
  transform: scale(2);
  margin-right: 20px;
}

.navbar-brand {
  justify-content: center;
}

.modal-backdrop {
  z-index: -1;
}

/* Copyright */

.copyright {
    text-align: center;
    margin: auto;
    padding: 10px;
    font-size: 15px;
    line-height: 24px;
    margin: 0; 
}
.copyright a {
    color:steelblue; /*Colors of OsloMet: #808080; #17a2b8; #ffc107;*/
}
.copyright a:hover {
    color: #d1811f;
    text-decoration: none;
}
