<h1>External websites</h1>


   
 <li>
       
         
                <a href="https://en.wikipedia.org/wiki/Unidentified_flying_object">Unidentified flying object - Wikipedia</a>
            </li>
            <li>
                <a href="https://www.sho.com/ufo">UFO (Official Series Site) Watch on Showtime</a>
            </li>
            <li>
                <a href="https://www.nsa.gov/Helpful-Links/NSA-FOIA/Frequently-Requested-Information/UFO-and-Other-Paranormal-Information/">UFO and Other Paranormal Information</a>
            </li>
            <li>
                <a href="https://www.loc.gov/collections/finding-our-place-in-the-cosmos-with-carl-sagan/articles-and-essays/life-on-other-worlds/ufos-and-aliens-among-us">UFOs and Aliens Among Us | Life on Other Worlds</a>
            </li>
            <li>
                <a href="https://www.nationalarchives.gov.uk/ufos/">UFOs | The National Archives</a>
            </li>

   

