<h1>Information about UFOs in other sources</h1>



<div class="feed">
    <div class="feedbox">
        <h5>External websites</h5>
        <br />

        <div class="feedboxField">

            <a href="https://en.wikipedia.org/wiki/Unidentified_flying_object">Unidentified flying object - Wikipedia</a>
            <p></p>
        </div>

        <div class="feedboxField">
            <a href="https://www.sho.com/ufo">UFO (Official Series Site) Watch on Showtime</a>
            <p></p>

        </div>
        <div class="feedboxField">

            <a href="https://www.nsa.gov/Helpful-Links/NSA-FOIA/Frequently-Requested-Information/UFO-and-Other-Paranormal-Information/">UFO and Other Paranormal Information</a>
            <p></p>
        </div>

        <div class="feedboxField">
            <a href="https://www.loc.gov/collections/finding-our-place-in-the-cosmos-with-carl-sagan/articles-and-essays/life-on-other-worlds/ufos-and-aliens-among-us">UFOs and Aliens Among Us | Life on Other Worlds</a>
            <p></p>
        </div>
                
        <div class="feedboxField">
            <a href="https://www.nationalarchives.gov.uk/ufos/">UFOs | The National Archives</a>
            <p></p>
        </div>
                    
        <div class="feedboxField">
            <a href="https://en.wikipedia.org/wiki/List_of_reported_UFO_sightings">List of reported UFO sightings</a>
            <p></p>

        </div>  
  </div>
                 
 <div class="feedbox">
     <h5>Latest UFO News </h5>
     <div class="feedboxField">
         <p>
             <img src="https://static.independent.co.uk/2022/06/10/20/GRC-2016-C-07515~large.jpg?quality=75&width=990&auto=webp&crop=982:726,smart" style="width:50px;height:50px;">
             <a href="https://www.independent.co.uk/space/nasa-uap-study-data-b2097808.html">
                 Nasa UFO study to focus on gathering data, not making conclusions
             </a>
         </p>
     </div>
     <div class="feedboxField">
         <p>
             <img src="https://static.independent.co.uk/2022/11/03/22/iStock-533334207.jpg?quality=50&width=640&auto=webp" style="width:50px;height:50px;">
             <a href="https://www.independent.co.uk/space/st-andrews-aliens-seti-contact-b2217334.html">
                 The discovery of intelligence aliens will require a multidisciplinary and society-wide response, researchers say
             </a>
         </p>
     </div>
     <div class="feedboxField">
         <p>
             <img src="https://a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/2022/11/720/405/new_mexico_ufo_archive_albuquerque.jpg?ve=1&tl=1" style="width:50px;height:50px;">
             <a href="https://www.foxnews.com/us/national-ufo-archive-coming-new-mexico">
                 National UFO archive coming to New Mexico
             </a>
         </p>
     </div>
     <div class="feedboxField">
         <p>
             <img src="https://www.politico.com/dims4/default/26c57cf/2147483647/strip/true/crop/1160x773+0+0/resize/630x420!/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F6a%2Fb9%2F576da7c34d498945905430256631%2Fgw-0610-forrest-ufos-1160-01.jpg" style="width:50px;height:50px;">
             <a href="https://www.politico.com/news/2022/10/19/new-territory-americas-top-aerospace-sleuths-join-ufo-hunt-00062588">
                 ‘New territory’: America’s top aerospace sleuths join UFO hunt
             </a>
         </p>
     </div>
     <div class="feedboxField">
         <p>
             <img src="https://www.politico.com/dims4/default/67ff993/2147483647/strip/true/crop/5762x3841+0+0/resize/630x420!/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fc8%2F16%2F0581288446acaeb3892db66a8d3a%2Fhttps-delivery.gettyimages.com%2Fdownloads%2F1397759981" style="width:50px;height:50px;">
             <a href="https://www.politico.com/news/2022/05/18/ufo-theories-congress-pentagon-00033497">
                 ‘A glowing red orb’: Wild UFO theories move from the shadows to Congress
             </a>
         </p>
     </div>
     <div class="feedboxField">
         <p>
             <img src="https://www.politico.com/dims4/default/c8bf1b3/2147483647/strip/true/crop/3000x1938+0+0/resize/630x407!/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F45%2Fa8%2F55bcb2d6441a9c5344917867f5d5%2Fhttps-delivery.gettyimages.com%2Fdownloads%2F79617159" style="width:50px;height:50px;">
             <a href="https://www.politico.com/news/2022/06/09/nasa-study-ufos-00038590">
                 NASA launches study seeking clues about UFOs
             </a>
         </p>
     </div>
 </div>





