/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@import '~@fortawesome/fontawesome-free/css/all.css'; /* importing fontawesome */ 
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.mat-focused .mat-form-field-label {
    /*change color of label*/
    color: black !important;
}

.mat-form-field-underline {
    /*change color of underline*/
    background-color: black !important;
}

.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: black !important;
}

.mat-form-field-label {
    /*change color of label*/
    color: black !important;
}


mat-datepicker-toggle {
    color: black !important;
}
