/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@import '~@fortawesome/fontawesome-free/css/all.css'; /* importing fontawesome */

body {
    background-color: #B7D6D3;
    font-family: 'Roboto';
    height: 100%;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

/*---------------------- NAVBAR ------------------------ */
.bg-header {
    background-color: #00695F;
}

.logo {
    width: 50px;
    height: auto;
}

.frontweb {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left-side {
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 15px;
    width: 300px;
    height: 900px;
    display: flex;
    background-color: #00695F;
    justify-content: center;
}

.right-side {
    background-color: #00695F;
    width: 100%;
    height: auto;
    margin-top: 1%;
    margin-right: 1%;
    border-radius: 15px;
    padding: 10px;
}


/*---------------------- KNAPPER ------------------------ */
.btn-primary {
  color: #E3E3E3;
  background-color: #009688;
  border-color: #292D32;
  border-radius: 10px;
  font-family: 'Roboto', bold;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-bottom: 20px;
}

.btn-primary:hover {
  color: black;
  background-color: #00bfad;
  border-color: #145d9f;
}

.btn-secondary {
  color: #E3E3E3;
  background-color: #292D32;
  border-color: #292D32;
  border-radius: 10px;
  font-family: 'Roboto', bold;
}

.btn-danger {
  border-radius: 10px;
  font-family: 'Roboto', bold;
}


/*-----------  Icon ------------------*/
.icon-primary {
  color: #009688;
}

.icon-primary:hover {
  color: #00bfad;
}

.mat-icon {
  vertical-align: middle;
}

.icon-display-large {
  transform: scale(2.5);
  color: white;
}


/*-----------  Table ------------------*/
table td,
table th {
  text-overflow: ellipsis;
  overflow: hidden;
}

thead th {
  color: black;
}

thead {
  top: 0;
  position: sticky;
}

table td {
    background: #B7D6D3;
}


/*-----------  Form  ------------------*/
.form {
    width: 40em;
    padding: 2%;
}

.form-group {
    padding: 5%;
    background: white;
    border-radius: 10px;
    margin: 2%;
}

.form-group p {
    display: none;
    color: red;
}
    
.ng-touched p {
    display: contents;
}

.form .btn {
    margin: 2%;
}

.form-group:empty {
    display: hidden;
}


/*-----------  Map  ------------------*/
#homeMap {
    height: 30em;
}

#map:not(:empty) {
    height: 20em;
}