
<div class="background-box">
<div class="header-vidimg">
    <div>
        <h1>UFO that was caught on video</h1>
    </div>
    
    <br />
    <div>
        <h4>The universe is a pretty big place. If it's just us, seems like an awful waste of space. -- Carl Sagan</h4>
    <br />
    <h5 text-align: justify> Do aliens exist? Hundreds of pictures and videos of UFOs are taken every year and enthusiasts believe many of them could be proof or even a hidden conspiracy.
    While some have been debunked as fake, there are still dozens that have left even the experts scratching their heads and wondering if we really have been visited by creatures from another planet.</h5>
    </div>
</div>
    <br />
<!--  -->
<div class="images">
    <div class="photo">
        <p>
            NASA Captures Footage Of UFO On Space Station Live Feed
        </p>
        <iframe width="420" height="315" src="https://www.youtube.com/embed/X2eIcSs0zCQ?autoplay=1&mute=1"></iframe>
    </div>

    <div class="photo">

        <p>UFO report ‘vindication’ for man who tracked 1994 sightings on radar</p>
        <iframe width="420" height="315"
                src="https://www.youtube.com/embed/QMQArS-s90I?autoplay=1&mute=1">
        </iframe>
    </div>

    <div class="photo">
        <p>Evidence of UFOs Underwater?! | The Proof Is Out There (S1, E5) | Full Episode</p>
        <iframe width="420" height="315"
                src="https://www.youtube.com/embed/hJBHbO2VgPg?autoplay=1&mute=1">
        </iframe>
    </div>
</div>
<br />
<br />
<br />
<br />
<div class="images">
    <div class="photo">
        <p>Navy pilots describe encounters with UFOs</p>
        <iframe width="520" height="315" src="https://www.youtube.com/embed/ZBtMbBPzqHY?autoplay=1&mute=1"></iframe>
    </div>
    <div class="photo">

        <p>Top 10 UFOs Caught On Camera</p>
        <iframe width="520" height="315"
                src="https://www.youtube.com/embed/KC8qr-U9ehU?autoplay=1&mute=1">
        </iframe>
    </div>
</div>
</div>
